#links.transitions-enabled
	- @links.each do |link|
		.box.panel.panel-default
			- if link.image.present?
				=link_to (image_tag link.image, width: '100%'), link
			- else
				=link_to link.title, link
			.panel-body
				%h2= link_to link.title, link