#link_show.row
    .col-md-6.col-md-offset-3
        .panel.panel-default
            %iframe{:frameborder => "0",:height => "510", :width => "100%", :src => "//www.youtube.com/embed/" + @link.link.split("=").last}
            .panel-body
                %h1= @link.title
                %p.description= @link.description
            .panel-footer
                = link_to "Edit", edit_link_path, class: "btn btn-default"
                = link_to "Delete", link_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"